<div class="login">

    <div class="login__img">
        <img src="assets/img/login.jpg">
    </div>

    <div class="login__card">
        <div class="card__avatar">
            <img src="assets/img/avatar.jpg">
            <strong>Game Of Thrones</strong>
        </div>
        <div class="card__campos">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button mat-raised-button color="primary">{{'iniciar sesion' | uppercase}}</button>
            <p>¿Has Olvidado tu contraseña?</p>
        </div>
    </div>

</div>