

<div class="buscar">

    <div class="buscar__filtro">
        <h2 class="animate__animated animate__bounce">Search Character {{termino | uppercase}} </h2>
        <div class="buscador">
            <mat-form-field class="example-full-width animate__animated animate__pulse" appearance="fill">
                <mat-label>Search Character</mat-label>
                <input type="text"
                       [(ngModel)]="termino"
                       matInput
                       [matAutocomplete]="auto" 
                       (input)="sugerenciasPersonajes()">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="verOpcionSelecionada($event)">
                  <mat-option *ngFor="let personaje of listPersonajes" [value]="personaje">
                    {{personaje.fullName}}
                  </mat-option>
                  <mat-option *ngIf="listPersonajes.length == 0 && termino.length > 1" value="">
                    No se Hallo la Busquedad
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        </div>
        <app-card [personaje]="personaje"></app-card>
    </div>

</div>
