

.agregar {
    overflow: hidden;


    

.personaje__container {
        
    width: 80%;
    height: 60%;
    border: 1px solid rgb(255, 255, 255, .3);
    background-color: rgb(255, 255, 255, .3);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 70px auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    .personaje__img {
        
        img {
            outline: 15px solid rgba(204, 191, 191, 0.3);
            height: 500px;
            width: 500px;
            object-fit: cover;
            display: block;
            border-radius: 30px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }

    .personaje__details {
        width: 100%;
        color: #fff;
        h2 {
            color: #FFF;
            font-family: "Fjalla One";
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }

        .input__text {
            padding: 7px 5px;
            border: 1px solid rgb(255, 255, 255, .3);
            background-color: rgba(253, 252, 252, 0.3);
            border-radius: 7px;
            display: block;
            width: 80%;
            margin: 10px auto;
            transition: transform 500ms;

            &:focus  {
                outline: 1px solid #7B1FA2;
                transform: scale(1.05);
            }

            &::placeholder {
                color: #fff;
                font-size: 16px;
            }
        }

        button {
            display: block;
            margin: 10px auto;
            width: 80%;
            background-color: #FE6A68;
        }
        
        
    }
}
}