

.listado {

    h1 {
        text-align: center;
        margin: 25px 0;
        font-size: 45px;
        font-family: 'Fjalla One';
        letter-spacing: 1px;
    }
}


.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background-color: #0d1723;
    max-width: 300px;
    height: auto;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 500ms;
    cursor: pointer;
    animation-name: Card;
    animation-duration: 1000ms;


    img {
        height: 300px;
        object-fit: cover;
    }

    &:hover {
        transform: scale(1.05);
    }
}


@keyframes Card {
    0% {
        transform: scale(.1);
    }
    100% {
        transform: scale(1);
    }
    // 100% {
    //     transform: scale(1.05);
    // }
}