


.spacer {
    flex: 1 1 auto;
}

.header {
    position: sticky;
    z-index: 1000;
    top: 0;
}

.mat-toolbar {
    background-color: #182436;
}

.mat-sidenav {
    background-color: #102031;
}

.mat-sidenav-container {
    background-color: #15283E;
}
