


.active {
    background-color: rgb(71, 218, 71);
}

.spacer {
    flex: 1 1 auto;
}

.header {
    position: sticky;
    z-index: 1000;
    top: 0;
}

.mat-toolbar {
    background-color: #0D1029;
}

.mat-sidenav {
    background-color: #0C0E26;
    border-color: #0C0E26;
}

.mat-sidenav-container {
    background-color: #0E112B;
}
